@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.ttf);
}

@font-face {
    font-family: 'Sequel';
    src: url(../fonts/Sequel/Sequel.ttf);
}

body {
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(148,195,222);
}


/* INTRO */ 
.container__intro {
  background: url(../images/bgintro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.wrapper__intro {
    width: calc(100vw - 210 * (100vw / 1440));
    margin: 0 auto;
    padding-top: 1%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
}

.logo svg {
    width: calc(5px + 40 * (100vw / 1440));
}

/* NAVIGATION */
.nav {
    /* Here will be a navigation */
}

/* INTRO INNER */
.intro__inner {
    padding-top: 8%;
    width: calc(100vw - 800 * (100vw / 1440));
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Cookie', cursive;
    font-size: calc(5px + 139 * (100vw / 1440));
    text-align: center;
    letter-spacing: 0.06em;
    padding-bottom: 3%;
}

.intro__title:after{
    content: "";
    display: block;
    background-color: white;
    width: calc(10px + 120 * (100vw / 1440));
    height: calc(1px + 4 * (100vw / 1440));
    margin: 0 auto;
    margin-top: -3%;
}

.intro__subtitle {
    font-family: 'Sequel';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: calc(1px + 39 * (100vw / 1440));;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 7%;
}

.intro__button:hover {
    background-position: 0%;
}

.intro__button {
    border: calc(1px + 2 * (100vw / 1440)) solid #ffffff;
    background-image: linear-gradient(12deg,#d1966a 10%, #c8706c 50%, transparent 50%);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: background 300ms ease-in;
    width: calc(9px + 271 * (100vw / 1440));;
    height: calc(2px + 58 * (100vw / 1440));;
    margin: 0 auto;   
    border-radius: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__button__text {
width: 70%;
margin: 0 auto;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: calc(1px + 21 * (100vw / 1440));;
line-height: calc(1px + 25 * (100vw / 1440));;
text-align: center;
text-transform: uppercase;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

.waves__position {
    width: 100%;
    margin-top:10%;
}

/* SECOND SCROLL */
/* ABOUT */
.container__about {
    position: relative;
}

.wrapper__about {
  width: calc(100vw - 290 * (100vw / 1440));
  margin: 0 auto;
  padding-top: 7%;
  display: flex;
  flex-direction: column;

}

/* ABOUT US */
.aboutus__content {
  position: relative;
  width: 88%;
  
  background: #5091B6;
  border-radius: calc(15px + 71 * (100vw / 1440));
  justify-content: left;
}

.aboutus__title {
  padding-left: 10%;
  padding-top: 1%;
  font-family: 'Sequel';
  font-style: normal;
  font-weight: 400;
  font-size: calc(5px + 50 * (100vw / 1440));
  line-height: calc(13px + 62 * (100vw / 1440));

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;

  text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
}

.aboutus__info {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: calc(1px + 30 * (100vw / 1440));
  line-height: calc(1px + 35 * (100vw / 1440));
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 6%;
}

.aboutus__corner_1 {
  position: absolute;
  width: 15%;
  height: 25%;
  left: 1%;
  top: 22%;
  transform: rotate(0deg);
}

.aboutus__corner_2 {
  position: absolute;
  width: 15%;
  height: 25%;
  right: 2%;
  bottom: 10%;
  transform: rotate(-180deg);
}


.white__ellipse_1 {
  position: absolute;
  right: 0;
  top: 5%;
  z-index: -1;
  width: 15%;
}

.pink__ellipse_1 {
  position: absolute;
  right: 0;
  top: 1%;
  z-index: -1;
  width: 10%;
}

.letters {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 8%;
  width: 70%;
}

.group__ellipse_1 {
  position: absolute;
  z-index: 0;
  top: 40%;
  right: 10%;
  z-index: -2;
  width: 33%;

}

.cards__content {
  position: relative;
  width: 85%;
  margin-top: 30%;
  background: #5091B6;
  border-radius: calc(15px + 71 * (100vw / 1440));
  justify-content: right;
  align-items: right;
  margin-right: 0;
  margin-left: auto;
}

.cards__title {
  font-family: 'Sequel';
  font-style: normal;
  font-weight: 400;
  font-size: calc(5px + 50 * (100vw / 1440));
  line-height: calc(13px + 62 * (100vw / 1440));
  text-align: center;
  padding-top: 2%;
  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.cards__info {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: calc(1px + 30 * (100vw / 1440));
  line-height: calc(1px + 35 * (100vw / 1440));
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 6%;
  text-align: right;
}

.cards__corner_1 {
  position: absolute;
  width: 20%;
  height: 30%;
  left: 5%;
  top: 25%;
}

.cards__corner_2 {
  position: absolute;
  width: 20%;
  height: 30%;
  right: 3%;
  bottom: 9%;
  transform: rotate(-180deg);
}

.white__ellipse_2 {
  transform: rotate(180deg);
  position: absolute;
  top: 75%;
  width: 15%;
}

.pink__ellipse_2 {
  position: absolute;
  transform: rotate(180deg);
  top: 80%;
  width: 10%;
}


/* OUTRO */
.container__outro {
  background: url(../images/bgoutro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center center;
  margin-top: 11%;
  position: relative;
}

.wrapper__outro {
  width: calc(100vw - 400 * (100vw / 1440));
  margin: 0 auto;
}

.second__waves__position {
  transform: rotate(-180deg);
  width: 100%;
  z-index: -300;

}

.outro__content {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card__culture {
  background: url(../images/card\ culture.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__culture:hover {
  background: url(../images/card\ culture\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

.card__travel {
  background: url(../images/card\ travel.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__travel:hover {
  background: url(../images/card\ travel\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

.card__food {
  background: url(../images/card\ food.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__food:hover {
  background: url(../images/card\ food\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

.card__art {
  background: url(../images/card\ art.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__art:hover {
  background: url(../images/card\ art\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

.card__phrases {
  background: url(../images/card\ phrases.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__phrases:hover {
  background: url(../images/card\ phrases\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

.card__nature {
  background: url(../images/card\ nature.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: calc(155px + 114 * (100vw / 1440));
  margin: 4% 2%;
  height: calc(176px + 131 * (100vw / 1440));
  transition: .15s linear;
}

.card__nature:hover {
  background: url(../images/card\ nature\ hover.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 2% 0%;
  width: calc(183px + 135 * (100vw / 1440));
  height: calc(203px + 150 * (100vw / 1440));
}

/* TEST */

.test__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  flex-wrap: wrap-reverse;
}


.test__button {
  border: calc(1px + 2 * (100vw / 1440)) solid #ffffff;
  background-image: linear-gradient(12deg,#d1966a 10%, #c8706c 50%, transparent 50%);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: 100%;
  transition: background 300ms ease-in;
  width: calc(200px + 80 * (100vw / 1440));
  height: calc(42px + 12 * (100vw / 1440));  
  border-radius: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 12 * (100vw / 1440));
  line-height: calc(1px + 25 * (100vw / 1440));
}

.test__button:hover {
  background-position: 0%;
}

.test__text {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 20 * (100vw / 1440));
  line-height: calc(7px + 32 * (100vw / 1440));
  text-align: right;
  padding-left: 2%;
  padding-right: 6%;
  padding-top: 2%;
}

.test__text__block {
  position: relative;
  display: flex;
  width: calc(550px + 100 * (100vw / 1440));
  padding-bottom: 5%;
  padding-left: 2%;
  margin-left: 5%;
}

.group__ellipse_2 {
  position: absolute;
  right: 6%;
  top: -1%;
  width: 33%;
}

.group__elipse_3 {
  position: absolute;
  left: 3%;
  bottom: 16%;
}

.test__corner_1 {
  position: absolute;
  width: 15%;
  height: 25%;
  top: 0%;
  left: 0%;
  transform: scale(1.5);
}

.test__corner_2 {
  position: absolute;
  width: 15%;
  height: 25%;
  transform: rotate(-180deg) scale(1.5);
  right: 0%;
  bottom: 10%;
}










